{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<section class="mdx-container">
    <div class="md-grid md-typeset">
        <div class="mdx-hero">
            <div class="mdx-hero__image">
                <img src="{{ 'assets/coding.png' | url }}" />
            </div>
            <div class="mdx-hero__content">
                <h1>{{ config.home.intro_section.h1 }}</h1>
                <p>{{ config.home.intro_section.description }}</p>
                <a href="{{ config.docs_url | url }}" title="{{ page.next_page.title | e }}"
                   class="md-button md-button--primary">
                    Getting started
                </a>
                <a href="{{ config.repo_url | url }}" class="md-button">
                    <i class="twemoji">{% include ".icons/fontawesome/brands/github.svg" %}</i>
                    Source Code
                </a>
            </div>
        </div>
    </div>
</section>
<section class="md-bg-theme md-badge-container">
    <ul class="md-badges">
        {% for item in config.home.badges %}
        <li class="item">
            <i class="twemoji">{% include ".icons/"+ item.icon +".svg" %}</i>
            <div class="title">{{ item.title }}</div>
            <div class="intro">{{ item.description }}</div>
        </li>
        {% endfor %}
    </ul>
</section>
<section>
    <div class="md-grid md-typeset">
        <div class="md-preview">
            <h1>{{ config.home.live_preview.h1 }}</h1>
            <p>{{ config.home.live_preview.description }}</p>
            <iframe src="https://stackblitz.com/edit/stackblitz-starters-3di53j?embed=1&file=src%2Fbootstrap.ts"
               style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;"
               title="Typeix Resty Starterkit"
               sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"
             ></iframe>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
